@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-mono: var(--font-mono);
  --font-heading: var(--font-heading);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) * 0.6);
  --radius-md: calc(var(--radius) * 0.8);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) * 1.4);
  --radius-2xl: calc(var(--radius) * 1.8);
  --radius-3xl: calc(var(--radius) * 2.2);
  --radius-4xl: calc(var(--radius) * 2.6);
}

:root {
  --bright-red: hsl(6 96% 59%);
  --bright-green: hsl(61 66% 44%);
  --bright-yellow: hsl(42 95% 58%);
  --bright-blue: hsl(157 16% 58%);
  --bright-purple: hsl(344 47% 68%);
  --bright-aqua: hsl(104 35% 62%);
  --bright-orange: hsl(27 99% 55%);

  --neutral-red: hsl(2 75% 46%);
  --neutral-green: hsl(60 71% 35%);
  --neutral-yellow: hsl(40 73% 49%);
  --neutral-blue: hsl(183 33% 40%);
  --neutral-purple: hsl(333 34% 54%);
  --neutral-aqua: hsl(122 21% 51%);
  --neutral-orange: hsl(24 88% 45%);

  --faded-red: hsl(358 100% 31%);
  --faded-green: hsl(57 79% 26%);
  --faded-yellow: hsl(37 80% 39%);
  --faded-blue: hsl(190 89% 25%);
  --faded-purple: hsl(323 39% 40%);
  --faded-aqua: hsl(143 30% 37%);
  --faded-orange: hsl(19 97% 35%);

  --dark0Hard: hsl(195 6% 12%);
  --dark0: hsl(0 0% 16%);
  --dark0Soft: hsl(20 3% 19%);
  --dark1: hsl(20 5% 22%);
  --dark2: hsl(22 7% 29%);
  --dark3: hsl(27 10% 36%);
  --dark4: hsl(28 11% 44%);
  --gray: hsl(30 12% 51%);
  --light4: hsl(35 17% 59%);
  --light3: hsl(39 24% 66%);
  --light2: hsl(40 38% 73%);
  --light1: hsl(43 59% 81%);
  --light0Soft: hsl(46 67% 84%);
  --light0: hsl(48 87% 88%);
  --light0Hard: hsl(53 74% 91%);

  --background: var(--light0Hard);
  --foreground: var(--dark0);

  --muted: var(--light0Soft);
  --muted-foreground: var(--dark4);

  --popover: var(--background);
  --popover-foreground: var(--color-foreground);

  --border: var(--light2);
  --input: var(--color-border);

  --card: var(--light1);
  --card-foreground: var(--color-foreground);

  --primary: var(--faded-aqua);
  --primary-foreground: var(--color-background);

  --secondary: var(--faded-green);
  --secondary-foreground: var(--color-background);

  --accent: var(--faded-yellow);
  --accent-foreground: var(--color-background);

  --destructive: var(--faded-red);
  --destructive-foreground: var(--light0);

  --info: var(--faded-blue);
  --info-foreground: var(--bright-blue);

  --success: var(--faded-aqua);
  --success-foreground: var(--bright-aqua);

  --warning: var(--faded-orange);
  --warning-foreground: var(--bright-orange);

  --error: var(--color-destructive);
  --error-foreground: var(--bright-red);

  --ring: var(--accent);
}

.dark {
  --background: var(--dark0Hard);
  --card: var(--dark0);
  --foreground: var(--light0);
  --muted: var(--dark0Soft);
  --muted-foreground: var(--light4);
  --border: var(--dark1);
  --primary: var(--bright-aqua);
  --secondary: var(--bright-green);
  --accent: var(--bright-yellow);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
  html {
    @apply font-mono;
  }
  a {
    @apply text-primary;

    &:hover {
      @apply underline;
    }
  }
}
